.canvasjs-chart-toolbar{
    display: none !important;
}
.canvasjs-chart-credit{
    display: none !important;
}
#chartContainer{
    margin-top: 50px !important;
    width: 500px !important;
}
#chartContainer2{
    margin-top: 50px !important;
    width: 500px !important;
}
.chart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;

}
.test{
    width: 65px;
    height: 10px;
    margin-top: 50px;
    position: absolute;
    z-index: 9999;
    background-color: white;
}
.test2{
    width: 80px;
    height: 10px;
    margin-top: 50px;
    position: absolute;
    margin-left: 36%;
    z-index: 9999;
    background-color: white;
}
.test3{
    width: 65px;
    height: 10px;
    margin-top: 340px;
    position: absolute;
    z-index: 9999;
    background-color: white;
}
.test4{
    width: 80px;
    height: 10px;
    margin-top: 340px;
    position: absolute;
    margin-left: 36%;
    z-index: 9999;
    background-color: white;
}