@font-face { 
    font-family: headingfont !important;
    src: url("../fonts/Neutraface2Display-Titling.otf");
 }
    
body{
    font-family: 'Neutra Text', sans-serif !important;
}



@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
h1,h2,h3,h4,h5,h6{
    /* font-family: 'Russo One', sans-serif     !important; */
    /* font-family: 'Neutra Text', sans-serif !important; */
    /* font-weight: 700; */
    font-family: 'Neutra Display' !important;

}
.navbar-brand img{
    width:50px !important;
    height: 40px !important;
}
.logo img{
    width:80px;
    height:80px;
}

.navlogin{
    color: white;
    /* border-bottom:1px solid #746f6D; */
    border-bottom:1px solid white;
    height: 70px;
    /* margin-top: 10px; */
    width: 100%;
    
}
.navli{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navli img{
    /* margin-left: 30px; */
    /* margin-top: 10px; */
    margin-left: 15px !important;
    width:70px !important;
    height:60px !important;
    margin-top: -5px;
}
.portal{
    margin-right: 15px !important;
    margin-top: 30px;
    font-size: 14px;
}
.message{
    /* border: 1px solid black; */
    height: 200px;
    width:350px;
    margin-left: 60px;
    color: white;
    margin-top: -60px;
}
@import url(//db.onlinewebfonts.com/c/0d2703af1d063ee7547a5e8a189bdb8f?family=Neutraface+2+Display+Inline);
@font-face {font-family: "Neutraface 2 Display Inline"; src: url("//db.onlinewebfonts.com/t/0d2703af1d063ee7547a5e8a189bdb8f.eot"); src: url("//db.onlinewebfonts.com/t/0d2703af1d063ee7547a5e8a189bdb8f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0d2703af1d063ee7547a5e8a189bdb8f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0d2703af1d063ee7547a5e8a189bdb8f.woff") format("woff"), url("//db.onlinewebfonts.com/t/0d2703af1d063ee7547a5e8a189bdb8f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0d2703af1d063ee7547a5e8a189bdb8f.svg#Neutraface 2 Display Inline") format("svg"); }
.message h3{

    line-height: 1.5;
    font-size: 40px;
    font-family: "Neutraface 2 Display Inline" !important;
    /* font-weight: 800; */
}

.message button{
    background: red;
    color: white;
    width:80px;
    font-size: 12px;
    margin-left: 5px;
    /* text-align: left; */
}

.formbut{
    /* border: 1px solid black; */
    width:120px;
    height:50px;
    margin-top: 300px;
    margin-left: 170px;
}

.formbut button{
    color: white;
    background: red;
    padding:3px;
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: Poppins-Medium; */
    font-size: 16px;
    line-height: 1.2;

}
#inp{
    margin-top: 50px;
}

@media screen and (max-width:600px){
    .message{
    margin-top: 50px;
    font-size: 12px;
    margin-left: 5px;
    width:230px;

    }   
    .formbut{
        margin:0;
        margin-top: 150px;
        margin-left: 70px;
    }
    .message h3{
        font-size: 24px;

    }
    .formbut button{
        width:200px;
        height: 40px;
    }
    .navli img{
        /* margin-left: 30px; */
        /* margin-top: 10px; */
        margin-left: 3px !important;
        width:75px !important;
        height:65px !important;
    }
    .portal{
        margin-left: -5px !important;
        /* margin-top: 30px; */
        margin-right: 10px !important;
        font-size: 14px;
    }
    .navlogin{
        border-bottom: none;
        border-bottom: 1px solid white !important;
        width: 100% !important;
        margin-right: 10px;
    }
    .wrap-login100{
        width: 222px !important;
        /* border-radius: 10px; */
        overflow: hidden !important;
        /* margin: 0px auto; */
        margin-left: -145px !important;
        padding: 13px !important;
        /* margin-bottom: 60px; */
        height: 350px !important;
      }
}